DATABASE_URL=postgresql://<name>:<password>@localhost:5432/task_manager?schema=public
SESSION_SECRET=your_session_secret_here
RESEND_API_KEY=your_resend_api_key_here
ADMIN_SENDER_EMAIL=your_email_here
